@model TARge21Shop.Models.Weather.WeatherViewModel

<h1>City</h1>
<div class="container">
	<div class="form-group col-md-3">
		<h2>Forecast for the selected city</h2>

		<div class="form-group row">
			<label asp-for="EffectiveDate" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.EffectiveDate)
		</div>

		<br/>

		<div class="form-group row">
			<label asp-for="EffectiveEpochDate" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.EffectiveEpochDate)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="Severity" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Severity)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="Text" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Text)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="MobileLink" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.MobileLink)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="Link" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Link)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="Category" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.Category)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="TempMinValue" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.TempMinValue)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="TempMinUnit" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.TempMinUnit)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="TempMinUnitType" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.TempMinUnitType)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="TempMaxValue" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.TempMaxValue)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="TempMaxUnit" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.TempMaxUnit)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="TempMaxUnitType" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.TempMaxUnitType)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="DayIcon" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.DayIcon)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="DayIconPhrase" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.DayIconPhrase)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="DayHasPrecipitation" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.DayHasPrecipitation)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="DayPrecipitationType" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.DayPrecipitationType)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="NightIcon" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.NightIcon)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="NightIconPhrase" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.NightIconPhrase)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="NightHasPrecipitation" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.NightHasPrecipitation)
		</div>
		<br />

		<div class="form-group row">
			<label asp-for="NightPrecipitationType" class="col-sm-2 col-form-label"></label>
			@Html.DisplayFor(model => model.NightPrecipitationType)
		</div>
		<br />
	</div>
</div>
